*{
	margin: 0;
	padding: 0;
}
/*头部样式*/
header{
    height:227px;
    border-bottom: 1px solid #C5C4C4;
}
header img{
    width: 100%;
	height: 200px;
}
header .myDiv1 {
    margin-left: -26px;
    margin-top: 8px;
    
}
header .myDiv1 p{
    font-size: 8px;
    font-weight: bold;
    margin-left: 30px;
    margin-top: -3px;
    letter-spacing: -1px;
}
header .myDiv2 {
    margin-left: 66px;
    margin-top: 3px;
}
header .myDiv2 a{
    text-decoration: none;
    color: #000;
}
header .myDiv2 p{
	font-size: 8px;
    margin-left: 723px;
    margin-top: -18px;
}
/*文章标题样式*/
nav{
	height: 30px;
	border-bottom: 1px solid #C5C4C4;
}
nav .title{
    font-weight: bold;
    font-size: 27px;
    margin-top: 15px;
    line-height: 10px;
    text-align: center;
}
section{
	height: 20px;
	border-bottom: 1px solid #C5C4C4;
}
section .time{
    font-size: 12px;
    margin-top: 5px;
    margin-left: 429px;
}
section h3{
    margin-top: -17px;
    margin-left: 53px;
    font-size: 15px;
}
section .number{
    font-size: 12px;
    margin-top: -15px;
    margin-left: 660px;
}
section h2{
    margin-top: -17px;
    margin-left: 53px;
    font-size: 15px;
}
/*文章小引文样式*/
article{
    height: 79px;
    width: 94%;
    margin: 0 3%;
    margin-top: 15px;
    background-color: #ffe;
    border: 1px solid #C5C4C4;
}
}
article .myDiv3{
	font-size:7px;
	line-height: 15px;
}
/*文章内容样式*/
content .myDiv4{
    width: 94%;
    margin: 0 3%;
    margin-top: 20px;
}
content .myDiv4 p{
   font-size: 14px;
   line-height: 30px;
}
content .myDiv5{ 
    width: 94%;
    margin: 0 3%;
    font-size: 16px;
    color: #807E7E;
    margin-top: 30px;
}
content .myDiv5 a{
    text-decoration: none;
	font-size: 17px;
    color: #000;
    margin-top: -19px;
}
content .myDiv5 img{
    width: 14px;
    height: 14px;
    margin-top: -11px;
    padding-left: 928px;
}
content .img {
    width: 60%;
    margin: 0 5% 0 39%;
}
content .myDiv6 { 
    width: 94%;
    margin: 0 3%;
    font-size: 16px;
    color: #807E7E;
    margin-top: -23px;
}
content .myDiv7{
    color: #807E7E;
    margin-top: 10px;
    margin-left: 58px;
    width: 72px;
    font-size: 20px;
    height: 25px;
    background-color: #E7E7E7;
    border: 1px solid #9F9E9E;
}
content .myDiv8 input{ 
    width: 84%;
    margin: 0 3%;
    height: 75px;
    margin-top: 25px;
    font-size: 13px;
}
content .myDiv9{ 
    width: 81%;
    margin: 0 3%;
    height: 22px;
    margin-left: 3%;
    border: 1px solid #9F9E9E;
    font-size: 16px;
    color: #807E7E;
    background-color: #F1F1F1;
}
content button{
    width: 65px;
    height: 24px;
    float: right;
    margin-top: -24px;
    margin-right: 238px;
}
/*页面底部样式*/
footer{
	height: 160px;
	margin-top: 25px;
	border: 1px solid #BFBFBF;
	background-color:#DDDADA; 
}
footer .logo img{
    width: 160px;
    height: 35px;
    margin-top: 18px;
    margin-left: 256px;
}
footer .myDiv1{
    font-size: 10px;
    margin-top: 9px;
    margin-left: 121px;
}
footer .myDiv2{
    font-size: 10px;
    margin-top: 20px;
    margin-left: 109px;
}
footer .myDiv3{
	font-size: 10px;
    margin-top: 20px;
    margin-left: 138px;
}
footer .myCode img{
	float: left;
    width: 160px;
    height: 100px;
    margin-top: -126px;
    margin-left: 612px;
}
footer .name{
	font-size: 18px;
    margin-top: -18px;
    margin-left: 636px;
}

